:root {
  --main-global-color: #1d1d1d;
  --main-color-white: #ffffff;
  --main-color-light-gray: #626262;
  --main-color-dark-gray: #262626;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--main-global-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 956px;
  margin: 0 auto;
}

/* header */

.header__content {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

.header__logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 14px;
  display: block;
}

.header-login {
  font-weight: 500px;
  line-height: 24;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  text-align: center;
  margin-right: 11px;
  padding: 13px 20px 11px 19px;
  transition: all 0.2s;
}

.header-login:hover {
  background: #57ad56;
  border: none;
  color: var(--main-global-white);
}

.header-reg {
  font-weight: 500;
  line-height: 24;
  background: var(--main-color-dark-gray);
  border-radius: 2px;
  text-align: center;
  color: var(--main-color-white);
  padding: 14px 16px 11px 16px;
  margin-right: 25px;
  transition: all 0.2s;
}

.header-reg:hover {
  background-color: #57ad56;
  border: none;
  color: var(--main-color-white);
}

.header-basket {
  margin-right: 10px;
  width: 19px;
  height: 21.74px;
  background-image: url(../images/basket.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  transition: all 0.2s;
}

.header-basket:hover {
  background-image: url(../images/basket-green.svg);
}

/*//header*/
/* hero */

.hero {
  position: relative;
  background: url(../images/hero-bg.jpg) no-repeat;
  background-size: cover;
  height: 364px;
  width: 100%;
}

.hero-info {
  position: absolute;
  top: 80px;
  width: 389px;
  height: 204px;
  background: var(--main-color-white);
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

.hero__info-title {
  font-size: 36px;
  line-height: 42px;
  padding: 38px 0 62px 38px;
}

.hero__info-description {
  width: 319px;
  display: flex;
  justify-content: space-between;
  margin-left: 37px;
}

.hero-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color-light-gray);
}

.hero-time {
  width: 97px;
  height: 32px;
  background: #262626;
  border-radius: 16px;
  color: var(--main-color-white);
  margin-top: -9px;
}

.hero__time-text {
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
}

/* //hero */
